/* general rules */

*{
    margin: 0;
    padding: 0;
}

/* body rules */

body {
    width: 100%;
    height: 100%;
}


/* header rules  */

header {
    line-height: 80px;
    background-color: white;
    
}

#logo {
    vertical-align: middle;
    padding-left: 20px;
}

#title{
    vertical-align: middle;
    font-weight: 900;
    font-size: 38px;
}

/* main rules  */

main {
    width: 100%;
    height: 100%;
    background-color: grey;
}

/* container rules */

#container  {
    background-color: white;
    margin: 5% 16% 1% 16%;
    border-radius: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.buttons-section, .task-section{
padding-left: 7%;
}

/* buttons rules  */

.buttons-section {
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;

}

#button-1 {
    background-color: #47adf1;
    border-width: 1px;
    border-color: white ;
    color: white;
    border-radius: 15%;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}

#button-2 {
    
    background-color: white;
    border-width: 1px;
    border-color: lightgrey ;
    color: lightgrey;
    border-radius: 15%;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}


/* tasks rules  */

.task-priority {
    font-weight: 900;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;
}

.task-priority::before {
    content: '\25bc';
    display: inline-block;
    font-size: 11px;
}

/* .task-name {
    margin-top: 15px;
    margin-bottom: 15px;
} */

.task-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-name.check::before {
    content: "\2713";
    display: inline-block;
    font-size: 11px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;
}

.task-name.x::before {
    content: "\2715";
    display: inline-block;
    font-size: 11px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;
}


.id {
    display: inline-block;
    color: white;
    border-radius: 15%;
    padding: 2px 4px;
}
/* colori id  */
.id.editorial {
    background-color: #45abea;
}

.id.q1goals {
    background-color: #9c72e4;
}

.id.recruiting {
    background-color: #64c0a9;
}

.id.mobile {
    background-color: #f29d33;
}

.id.website {
    background-color: #d863a1;
}

.id.sales {
    background-color: #b0c926;
}
